@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$mainBg: #180050;
$brightMain: #ece4ff;
$normalMain: #6a32eb;
$messagesBg: #201c29;
$chatUI_bg: #1a1a1a;
$textColor: #efefef;
$usernameColor: #eeeeeebb;
$inputError: #ec1f3b;
$baseSize: 16px;
$font: "Lato", system-ui;
$headerBorder: #eeeeee55;