@use 'init' as vars;
@use 'login';
@use 'chat';
@use 'messages';
@use 'input';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: vars.$font;
}

body{
    font-size: vars.$baseSize;
    background-color: vars.$mainBg;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}